@model IEnumerable<JobTest.Models.Job>

@{
    ViewBag.Title = "Jobs List";
}

<link href="~/Content/themes/Grid.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

<header>
    <h1></h1>
</header>
<h1>Current Job List</h1>

@using (Html.BeginForm("Index", "Jobs", FormMethod.Get))
{
       <div id="txtBox">   
        @Html.Label("Search Jobs ")
        <input type="text" name="q" />
    </div>
    <div id="radioList">
        @Html.RadioButton("SearchType", "0")
        @Html.Label("Job Number")
        @Html.RadioButton("SearchType", "1", true)
        @Html.Label("Client")
        @Html.RadioButton("SearchType", "2")
        @Html.Label("Job Name")
        @Html.RadioButton("SearchType", "3")
        @Html.Label("Due Date")
        @Html.RadioButton("SearchType", "4")
        @Html.Label("Status")
    </div>
    <div id="btnSearch">
        <input type="submit" value="Search" id="btnSubmit" />
        </div>
}
<br />
<div id ="DivGrid">
    @{
        var grid = new WebGrid(source: Model, canPage: true, rowsPerPage:10, defaultSort:"client");
        if(Model.Count() > 0)
        {
        <div><strong> @ViewBag.SearchParameter</strong> | @grid.TotalRowCount @Html.Label("Record(s) found")</div>
        @grid.GetHtml(columns : grid.Columns(grid.Column("client", header : "Client"),
                            grid.Column("jobnumber", "Job Number"),
                            grid.Column("jobname", "Job Name"),
                           grid.Column("due", "Due Date"),
                           grid.Column("status", "Status")), tableStyle : "gTable")
    }
    else{
        <hr />@Html.Label("No, Record(s) not found")<hr />
        }
        }
</div>






